
fieldset{
    width: 50%;
    height: 90%;
    margin: auto;
}
form{
    margin-left: 50px;
}
legend{
    padding:10px;
    border-radius:0 20px;
    color: white;
}
.card{
    width: 100%;
}
.btn_submit{
    text-align: center;
    padding: 5px;
}
.btn_submit .submit{
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 5px 50px ;
    font-size: 15px;
    opacity: 0.6;
    border-radius: 25px;
    cursor: pointer;
}
.btn_submit .submit:hover{
    opacity: 1;
}
.card table .input span{
    font-size: small;
    font-weight: 500;
    color: rgb(249, 21, 21);
    margin-left: 50%;
}
span{
    font-size: small;
    font-weight: 500;
    color: rgb(249, 21, 21);
    margin-left: 20px;
}

fieldset{
    width: 40%;
    height: 90%;
    margin: 12px auto;
    line-height: 2;
    padding: 10px;
}
form{
    margin-left: 50px;
}
legend{
    padding:5px 10px;
    border-radius:0 20px;
    background-color: darkslategray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: white;
}
.card table td{
    border: none;
}
.inputCards{
    width: 250px;
    height: 20px;
}
.card table select{
    width: 253px;
    height: 20px;
}
